# Configuración de la Base de Datos PostgreSQL
DB_HOST=localhost
DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_contrasenia_postgres
DB_NAME=chppreciosespecprodpromocdb
DB_PORT=5432
# DB_SSL=true (Habilitar para AWS RDS / Producción, deshabilitar para desarrollo local)
DB_SSL=false

# Configuración de SMTP
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=tu_usuario_smtp
SMTP_PASS=tu_contrasenia_smtp

# Dirección de correo remitente verificada para envío
SENDER_EMAIL=registro_app@cheesepizza.com.mx

# URL para el logotipo en las plantillas de correo
LOGO_URL=http://localhost:3000/img/logo/logo_cheese_pizza_sombra.png

# Credenciales de AWS (para servicio SES de correos)
AWS_REGION=us-west-1
AWS_ACCESS_KEY_ID=tu_aws_access_key_id
AWS_SECRET_ACCESS_KEY=tu_aws_secret_access_key

# Clave secreta para firmar y verificar tokens JWT
JWT_SECRET=escribe_aqui_una_clave_secreta_aleatoria_y_segura

